* {
  scroll-behavior: smooth;
}
:root {
  --main-color: black;
  --second-color: white;
  --third-color: rgb(0, 224, 153);
  --fourth-color: rgb(138, 143, 152);
  --main-font: Graphik, sans-serif;
  --secondary-font: "Rampart One", cursive;
  --primary-gradient: linear-gradient(90deg, rgb(10, 192, 92), white);
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: var(--second-color);
  font-family: var(--main-font);
}

nav {
  position: fixed;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  color: var(--second-color);
  background: black;
  animation: slidefromtop 0.7s linear;
  z-index: 100;
}

@keyframes slidefromtop {
  0% {
    transform: translateY(-50px);
    opacity: 0.3;
  }
  100% {
    transform: translateY(0);
  }
}

nav .logo-name {
  font-weight: bolder;
  padding: 1rem;
  font-size: 1.5rem;
}

.nav-links ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.nav-links ul li {
  margin-right: 2rem;
}

.nav-links ul li a::after {
  content: "";
  box-sizing: border-box;
  display: block;
  height: 3px;
  background: var(--fourth-color);
  border-radius: 15%;
  transform: scale(0);
  transition: 100ms ease-in;
}
.nav-links ul li a:hover {
  color: var(--fourth-color);
}
.nav-links ul li a:hover::after {
  transform: scale(1);
}

.nav-links ul li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--second-color);
  display: block;
  padding: 1rem;
  font-family: var(--main-font);
}

.hamburger {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.75rem;
  height: 21px;
  display: none;
  justify-content: space-between;
  flex-direction: column;
}

.ham-line {
  width: 100%;
  height: 3px;
  background-color: var(--second-color);
  border-radius: 10px;
}

@media (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    width: 100%;
    display: none;
  }
  .nav-links ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .nav-links ul li {
    margin-right: 0;
  }

  .hamburger {
    display: flex;
    cursor: pointer;
  }
  .hamburger:hover,
  .hamburger:active {
    border-radius: 50%;
    background: rgba(224, 212, 212, 0.5);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.7);
  }

  .nav-links.toggle {
    display: flex;
    box-shadow: 0 3px 3px 3px rgba(224, 212, 212, 0.1);
  }
}

/* Navbar styling ends here */

/* description styling starts here */
.description {
  padding-top: 7rem;
  margin: auto;
  color: var(--second-color);
  font-family: Grafik, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-bottom: 4rem;
}

.description .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description .intro .italicise {
  color: var(--third-color);
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-style: italic;
  text-align: center;
  margin-bottom: 0;
  animation: slidefromright 0.7s linear;
}

@keyframes slidefromright {
  0% {
    transform: translateX(150px);
    opacity: 0.4;
  }
  100% {
    transform: translateX(0);
  }
}

.description .intro h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1rem;
  animation: slidefromleft 0.7s linear;
}

@keyframes slidefromleft {
  0% {
    transform: translateX(-150px);
    opacity: 0.4;
  }
  100% {
    transform: translateX(0);
  }
}

.hero-image > img {
  filter: contrast(200%);
}

.typing-text-effect {
  display: flex;
  position: relative;
}

.typing-text-effect > h2 {
  font-size: 25px;
  position: relative;
  top: -5px;
}
.changing-text {
  list-style: none;

  padding: 0;
  margin-left: 0.8rem;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
}

.changing-text > li {
  position: relative;
  top: 0;
  font-size: 25px;
  animation: slide 6s steps(3) infinite;
}

@keyframes slide {
  100% {
    top: -90px;
  }
}
.changing-text > li > span {
  position: relative;
  color: var(--third-color);
}

.changing-text > li > span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 105%;
  left: 0;
  border-left: 1px solid white;
  background-color: black;
  animation: typing 2s steps(14) infinite;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -15px 0 15px;
  }
}

/* about styling starts here */
.about {
  width: 70%;
  position: relative;
  margin: 4rem auto;
  margin-top: 6rem;
}
.about > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  /* color: var(--third-color); */
  background: var(--primary-gradient);
  background-clip: text;
  color: transparent;
}

.about p {
  border: 1px solid var(--fourth-color);
  padding: 2rem;
  border-radius: 1rem;
  color: var(--fourth-color);
  text-align: center;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .about {
    width: 90%;
  }
  .description {
    width: 90%;
  }
}
/* Skillset styling */
.skillset {
  margin-top: 3rem;
  width: 70%;
  position: relative;
  margin: 0px auto;
  animation: slidefromleft 1s linear;
}

.skillset > div {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--second-color);
}

.skillset > div > i {
  transform: scale(1.2);
}
.skillset > div > h1 {
  margin-left: 1rem;
  font-family: var(--secondary-font);
  background: var(--primary-gradient);
  background-clip: text;
  color: transparent;
  font-size: 1.8rem;
}

.skillset ul {
  margin: 0;
  padding: 0;
  color: var(--fourth-color);
  list-style-type: none;
  display: grid;
  gap: 3rem 1rem;
  grid-template-columns: repeat(7, 1fr);
}

.skillset ul li {
  /* margin-bottom: 3rem;
  padding: 0 1rem 0 1rem; */
  transition: color 400ms ease-out;
}

.skillset ul li::marker {
  font-size: 2rem;
}

.skillset li > i {
  font-size: 4rem;
  /* padding: 2px 4rem; */
}
/* .skillset .expressjs,
.skillset .nodejs {
  font-size: 6rem;
} */
.skillset ul > li:hover {
  color: var(--third-color);

  animation: icon-bounce 400ms ease-in;

  animation-fill-mode: forwards;
}

@keyframes icon-bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.3);
  }
}

@media (max-width: 480px) {
  .description {
    width: 100%;
    flex-direction: column-reverse;
    margin-bottom: 1rem;
  }
  .about {
    margin-top: 2rem;
  }
  .skillset ul {
    grid-template-columns: repeat(3, 1fr);
  }
  .hero-image > img {
    object-fit: cover;
  }
}
/* projects styling starts here */
.projects-section {
  width: 80%;
  margin: 3rem auto 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects-section > h1 {
  font-family: var(--secondary-font);
  background: var(--primary-gradient);
  background-clip: text;
  color: transparent;
  font-size: 1.8rem;
}

.project {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-content {
  width: 100%;
  padding: 2rem 1rem;
  display: flex;

  justify-content: space-between;
  align-items: top;
  border-radius: 7px;
  box-shadow: 0 0 4px 7px rgba(224, 212, 212, 0.1);
}
.project img {
  padding: 0;
  width: 55%;
  height: 100%;
  border-radius: 7px;
}

.project-info {
  display: flex;
  flex-direction: column;
}

.project .project-info > p {
  letter-spacing: 0.07rem;
  color: var(--fourth-color);
  word-spacing: 0.1rem;
  padding-left: 2rem;
}

.project-info > p > span {
  /* color: var(--second-color); */
  color: rgb(255, 255, 255, 0.8);
}

.project-info > ul {
  width: 100%;
  padding: 0;

  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-info > ul > li {
  flex-shrink: 1;
}
.project-info > ul > li > i {
  font-size: 3rem;
}

.project-links {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.project-links > a {
  color: white;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem 1rem;
  text-decoration: none;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 7px;
  transition: 0.3s ease-in;
}
.project-links > a > i {
  padding-left: 0.5rem;
  color: white;
}

.project-links > a:hover {
  color: black;
  box-shadow: inset 11rem 0 0 0 white;
}

.project-links > a:hover > i {
  color: black;
}

/* animation: button-hover 300ms ease-in 1 forwards; */

@media (max-width: 1025px) {
  .project-content {
    flex-wrap: wrap;
  }
  .project-content img {
    width: 100%;
  }
  .project:nth-of-type(even) .project-content img {
    margin-top: 2rem;
  }
  .project .project-info > p {
    padding: 1.5rem 0;
  }
  .project:nth-child(even) .project-content {
    flex-direction: column-reverse;
  }
}

/* contact section styling starts here */

.contact {
  width: 80%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 5rem auto 3rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.contact-form > h2 {
  font-family: var(--secondary-font);
  background: var(--primary-gradient);
  background-clip: text;
  color: transparent;
  font-size: 1.8rem;
}
.contact-form > div {
  margin-bottom: 2rem;
  width: 100%;
  position: relative;
  line-height: 1.5rem;
}

.contact-form input,
.contact-form textarea {
  box-sizing: content-box;
  line-height: 1.5rem;
  padding: 0;
  margin: 0.5rem 0rem 1rem 0rem;
  width: 100%;
  background-color: transparent;
  color: var(--second-color);
  letter-spacing: 0.08rem;
  font-size: 1rem;
  outline: none;
  border: none;
}
.contact-form textarea {
  letter-spacing: 0.02rem;
}

.contact-form > div > fieldset {
  pointer-events: none;
  position: absolute;
  top: -0.4rem;
  left: 0;
  bottom: 0;
  padding: 0 1rem;
  width: 100%;
  border: 1px solid var(--fourth-color);
  transition: 100ms ease-in;
  margin: 0;
  padding: 0;
}

.contact-form > div:hover > fieldset {
  border-color: var(--third-color);
}

.textinput + fieldset::after {
  content: "Name*";
  color: var(--fourth-color);
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  padding: 0 0.2rem;
  background-color: black;
  transition: 100ms ease-in;
}

.emailinput + fieldset::after {
  content: "Email*";
  color: var(--fourth-color);
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  padding: 0 0.2rem;
  background-color: black;
  transition: 100ms ease-in;
}

.messagetextarea + fieldset::after {
  content: "Message*";
  color: var(--fourth-color);
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  padding: 0 0.2rem;
  background-color: black;
  transition: 100ms ease-in;
}
textarea:valid + fieldset,
textarea:focus + fieldset,
input:focus + fieldset,
input:valid + fieldset {
  border: 1px solid var(--third-color);
}
textarea:focus + fieldset::after,
input:focus + fieldset::after {
  top: -0.8rem;
  font-size: 0.8rem;
}
textarea:valid + fieldset::after,
input:valid + fieldset::after {
  top: -0.8rem;
  font-size: 0.8rem;
}

.contact-form > button {
  width: 5rem;
  padding: 0.4rem;
  background: black;
  border: 1px solid white;
  color: white;
  border-radius: 7px;
  transition: 200ms ease-in;
  cursor: pointer;
}

button:hover {
  color: black;
  box-shadow: inset 5rem 0 0 0 white;
  font-weight: 600;
}

/* styling contact socials */
.contact-socials {
  height: 20rem;
}

.contact-socials > h2 {
  font-family: var(--secondary-font);
  background: var(--primary-gradient);
  background-clip: text;
  color: transparent;
  font-size: 1.8rem;
}
.contact-socials ul {
  list-style-type: none;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.contact-socials i {
  font-size: 2rem;
  color: var(--fourth-color);
}

.contact-socials ul li:nth-child(1) i::after {
  content: "Github";
}
.contact-socials ul li:nth-child(2) i::after {
  content: "LinkedIn";
}
.contact-socials ul li:nth-child(3) i::after {
  content: "Twitter";
}
.contact-socials ul li:nth-child(4) i::after {
  content: "prakashom.iitkgp@gmail.com";
  font-size: 1rem;
  font-weight: 500;
}
.contact-socials ul li i::after {
  font-size: 1.2rem;
  padding: 0.1rem 1rem;
  margin-left: 0.6rem;
  line-height: 2rem;
  font-family: var(--main-font);
  color: black;
  background: white;
  border-radius: 7px;
  display: inline-block;
  position: absolute;
  transform: scale(0);

  transition: 100ms ease-in;
  transform-origin: left;
}

.contact-socials ul li:hover i::after {
  transform: scale(1);
}
.contact-socials ul li:hover i {
  color: var(--third-color);
}

@media (max-width: 680px) {
  .description {
    width: 80%;
  }
  .contact {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .contact-form {
    margin-top: 2rem;
    width: 70%;
    align-items: center;
  }

  .contact-form > div {
    width: 100%;
  }
  .contact-socials {
    margin: 2rem 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(224, 212, 212, 0.1);
    align-items: center;
    height: 10rem;
  }
  .contact-socials h2 {
    margin-bottom: 0;
  }
  .contact-socials ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .contact-socials ul li:hover i::after {
    display: none;
  }
}
